{% extends 'layout.html' %}

{% block style %}
<link rel="stylesheet" href="/stylesheets/manager.css">
{% endblock %}

{% block content %}

<div class="container-fluid no-padding no-margin vh-100">

  {% include "navbar.html" %}

    <!-- 내용 영역 -->
    <div class="mainContainer">

      <!-- 세차 상세 페이지 (사진 찍기) -->
  
      <!-- 사진 영역 -->
      <div class="photoArea">
  
        <!-- 세차 전 사진 -->
        <div class="">
  
          <p>세차 전</p>
  
          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
            </div>
  
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
  
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
  
            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
          </div>
  
          <label for="beforePhoto">
            <div class="d-flex align-items-center justify-content-center border border-primary border-3" style="width: 100px; height: 60px;">
              촬영하기
            </div>
          </label>
  
          <input class="d-none" type="file" id="beforePhoto" name="beforePhoto" capture="camera" accept="image/*" onclick="uploadPhoto(event);"/>
  
        </div>
        
        <!-- 세차 후 사진 -->
        <div>
          <p>세차 후</p>
          
          <!-- Slider main container -->
          <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
              <!-- Slides -->
              <div class="swiper-slide">Slide 1</div>
              <div class="swiper-slide">Slide 2</div>
              <div class="swiper-slide">Slide 3</div>
            </div>
  
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
  
          </div>
  
          <label for="afterPhoto">
            <div class="d-flex align-items-center justify-content-center border border-primary border-3" style="width: 100px; height: 60px;">
              촬영하기
            </div>
          </label>
  
          <input class="d-none" type="file" id="afterPhoto" name="afterPhoto" capture="camera" accept="image/*" onchange="uploadPhoto(event);"/>
  
        </div>
  
        <!-- 카메라 스크립트 -->
        <script>
  
          function uploadPhoto(e){
            
            var camera = e.target;
  
            console.log(e.target);
            
            var photo = camera.previousElementSibling.previousElementSibling.children;
            var file = e.target.files[0];
            console.log(file);
  
            photo.src = URL.createObjectURL(file);
            console.log(photo);
  
          };
  
          // var camera = document.getElementById('camera');
          // var photoFrame = document.getElementById('photoFrame');
    
          // camera.addEventListener('change', function(e){
          //   var file = e.target.files[0];
    
          //   photoFrame.src = URL.createObjectURL(file);
          // });
    
        </script>
  
      </div>

    </div>

  </div>



{% endblock %}


{% block script %}
<!-- Swiper JS -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<!-- User Script -->
<script src="../javascripts/main.js"></script>

<script>

  // 현재 시간 구하는 함수
  function getCurrentDate(){
    let date = new Date();
    
    let year = date.getFullYear.toString();
    
    let month = date.getMonth + 1;
    month = month < 10 ? '0' + month.toString() : month.toString();

    let day = date.getDate();
    day = day < 10 ? '0' + day.toString() : day.toString();
    
    let hour = date.getHours();
    hour = hour < 10 ? '0' + hour.toString() : hour.toString();

    let minutes = date.getMinutes();
    minutes = minutes < 10 ? '0' + minutes.toString() : minutes.toString();

    let seconds = date.getSeconds();
    seconds = seconds < 10 ? '0' + seconds.toString() : seconds.toString();

    return year + month + day + hour + minutes + seconds;
  }

</script>
{% endblock %}

