<!-- 사이드 메뉴 -->
<!-- ************************************************ -->
<div class="sidebarBody" style="background-color: rgb(74, 74, 74);">
<!-- ************************************************ -->
    
  <div class="menuWrapper">

    <ul class="adminMenuList">

      <li>

        <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#schedule-menu" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" fill="#FDFDFD"/></svg>
          &nbsp;
          일정 관리
        </a>

        <ul class="collapse" id="schedule-menu">
          <li><a class="car-item fs-6" href="">일정 조회</a></li>
          <li><a class="car-item fs-6" href="">일정 생성</a></li>
        </ul>

      </li>

      <li>

        <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#vehicle-menu" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" fill="#FDFDFD"/></svg>
          &nbsp;
          차량(작업) 관리
        </a>

        <ul class="collapse" id="vehicle-menu">
          <li><a class="car-item fs-6" href="">차량 조회</a></li>
          <li><a class="car-item fs-6" href="">차량 추가</a></li>
        </ul>

      </li>

      <li>

        <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#client-menu" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" fill="#FDFDFD"/></svg>
          &nbsp;
          고객 관리
        </a>

        <ul class="collapse" id="client-menu">
          <li><a class="car-item fs-6" href="">고객 조회</a></li>
          <li><a class="car-item fs-6" href="">고객 추가</a></li>
        </ul>

      </li>
      
      <li>

        <a class="collapsed" data-bs-toggle="collapse" data-bs-target="#manager-menu" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z" fill="#FDFDFD"/></svg>
          &nbsp;
          매니저 관리
        </a>

        <ul class="collapse" id="manager-menu">
          <li><a class="car-item fs-6" href="">매니저 정보 조회</a></li>
          <li><a class="car-item fs-6" href="">매니저 정보 추가</a></li>
        </ul>

      </li>

    </ul>

  </div>

</div>